/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-5xl: 75rem;
  --maxWidth-full: "100%";
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --font-body: Poppins;
  --font-heading: Montserrat;
  --fontWeight-normal: 400;
  --fontWeight-bold: 700;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --color-text: #333333;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-accent: #d1dce5;
  --primary-accent-color: #F4743D;
  --secondary-accent-color: #FF1F7F;
  --button-text-color: #ffffff;
  --background-color: #fafafa;
  --input-bg-color: #f3f3f3;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
  background-color: var(--background-color);
}

footer {
  text-align: center;
  font-size: var(--fontSize-0);
  padding: var(--spacing-4) var(--spacing-0);
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-6);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-bold);
  font-size: var(--fontSize-6);
  color: var(--secondary-accent-color);
}

h2 {
  font-size: var(--fontSize-6);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--primary-accent-color);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
  text-decoration: none;
  color: var(--primary-accent-color);
}

a:hover,
a:focus {
  text-decoration: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

/* Blog */

.post-list-item {
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}

.post-list-item h2 {
  font-size: var(--fontSize-4);
  color: var(--secondary-accent-color);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.post-list-item header {
  margin-bottom: var(--spacing-4);
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-2);
}

.bio {
  display: flex;
  margin-bottom: var(--spacing-16);
}

.bio p {
  margin-bottom: var(--spacing-0);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

#blog-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

section {
  min-height: 50vh;
  padding: var(--spacing-20) var(--spacing-0);
}

.uppercase {
  text-transform: uppercase;
}

.mb-2 {
  margin-bottom: var(--spacing-6);
}

.gradient-text {
  background: linear-gradient(140deg, var(--primary-accent-color), var(--secondary-accent-color));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.align-right{
  text-align: right;
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}

/* Navigation Bar */

#navbar {
  position: sticky;
  padding: 1.5em 3em 0.5em;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  top: 0;
  width: 100vw;
  background-color: hsl(from var(--background-color) h s l / 0.9);
  z-index: 7;
}

#nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  font-size: var(--fontSize-1);
  text-transform: uppercase;
  letter-spacing: 0.03em;
  column-gap: 3em;
}

.nav-link{
  text-decoration: none;
  color: var(--color-text);
}

.nav-link:hover, .nav-link:active{
  background: -webkit-linear-gradient(140deg, var(--primary-accent-color), var(--secondary-accent-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#menu-toggle, #menu-toggle-label {
  display: none;
}

@media (max-width: 768px) {
  #menu-toggle-label{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1em;
    width: 1.25em;
    position: absolute;
    top: 1.25em;
    right: 1.25em;
    z-index: 7;
  }

  #nav-list {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: var(--background-color);
    padding: 4em 3em 1em;
    box-shadow: -0.25em 0.125em 1.25em grey;
    opacity: 0.9;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }

  @keyframes slide-in {
    100% { transform: translateX(0%); }
  }

  @-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
  }

  #menu-toggle:checked ~ #nav-list {
    display: block;
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
  }

  #navbar .hamburger-lines .line{
      display: block;
      height: 0.125em;
      width: 100%;
      border-radius: 0.625em;
      background: #333;
  }
  
  .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

  .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

  .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    #menu-toggle:checked ~ .hamburger-lines .line1{
      transform: rotate(45deg);
    }

    #menu-toggle:checked ~ .hamburger-lines .line2{
      transform: scaleY(0);
    }

    #menu-toggle:checked ~ .hamburger-lines .line3{
      transform: rotate(-45deg);
    }

}

/* Social Media Icons */

.social-media-links {
  list-style-type: none;
  display: flex;
  column-gap: 1.5em;
  padding: 0;
  justify-content: center;
}

.social-media-link {
  fill: url(#accent-gradient);
}

.start-stop {
  stop-color: var(--primary-accent-color);
}

.end-stop {
  stop-color: var(--secondary-accent-color);
}

.social-media-link:hover {
  transform: scale(1.2);
}

/* About Section */

#about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3em;
  min-height: calc(100vh - 7em);
}

#about-section .column1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.container {
  margin: auto;
  max-width: 1040px;
  padding: 0 2em;
}

.name-heading {
  margin: 0;
  font-size: clamp(40px, 8vw, 72px);
}

.sub-heading {
  font-size: var(--fontSize-2);
  color: var(--primary-accent-color);
  margin-top: 0;
  font-weight: 500;
}

.greeting {
  font-size: var(--fontSize-0);
  color: var(--primary-accent-color);
}

#bio {
  font-size: var(--fontSize-1);
  text-align: justify;
}

.float-right {
  float: right;
}

/* Buttons */

input[type="button"], button, .button {
  background-image: linear-gradient(140deg, var(--primary-accent-color), var(--secondary-accent-color));
  padding: 0.75em 1.5em;
  text-transform: uppercase;
  border-radius: 0.3em;
  border-width: 0;
  color: var(--button-text-color);
  cursor: pointer;
  letter-spacing: 0.06em;
  font-weight: 500;
  font-family: Poppins;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}

/* Contact Section */

#contact {
  display: flex;
  column-gap: 1.5em;
}

#contact-header {
  flex-basis: 30em;
}

.contact-form-link {
  font-size: var(--fontSize-0);
  display: flex;
  gap: .6em;
  margin-top: .6em;
}


/* Forms */

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.25em;
}

input, textarea {
  background-color: var(--input-bg-color);
  border: none;
  padding: 1.25em;
  width: 100%;
  font-family: var(--body-font);
}

input:focus, textarea:focus {
  outline-color: var(--secondary-accent-color);
}

.form-error {
  margin-bottom: 0;
  font-size: var(--fontSize-0);
}


/* Skills Section */
.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
  gap: 1em;
}

.skills-list li{
  list-style-type: none;
}

.skills-list img{
  height: 2.5em;
  width: auto;
}

.skill .tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  background-color: var(--primary-accent-color);
  color: var(--button-text-color);
  border-radius: 0.25em;
  display: inline-block;
  padding: 0.2em;
}

.skill:hover .tooltip {
  visibility: visible;
}


/* Responsive styling for smaller devices */
@media (max-width: 1024px) {
  .container {
    max-width: 800px;
  }

  #about-section, #contact {
    flex-direction: column;
    row-gap: 2em;
  }

  #contact {
    text-align: center;
  }

  .contact-form-link {
    justify-content: center;
  }

  #contact-header {
    flex-basis: unset;
  }
  .skills-list {
    grid-template-columns: repeat(auto-fill, minmax(4em, 1fr));
  }

  section {
    padding: var(--spacing-10) var(--spacing-0);
  }
}
